*{
    font-family: 'Roboto', sans-serif;
}

.styleCollVideo{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding: 10px;
    padding-top: 5px;
    margin-right: 7px;
    cursor: pointer;
    transition: 0.7s;
}

.styleCollVideo:hover{
    color: black;
    background-color: white;
}

.container-fluid{
    background-color: white;
    padding: 10px;
}

.navbar-nav{
    display: flex;
    justify-content: space-around;
}

#SezioneProdotti{
    padding: 20px;
}

.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px
   }
   
   .gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
   } 

   .gg-profile,
   .gg-profile::after,
   .gg-profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
   }
   
   .gg-profile {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    position: relative
   }
   
   .gg-profile::after,
   .gg-profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
   }
   
   .gg-profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 18px
   } 

   .gg-heart,
   .gg-heart::after {
    border: 2px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0
   }
   
   .gg-heart {
    box-sizing: border-box;
    position: relative;
    transform:
    translate(
    calc(-10px / 2 * var(--ggs,1)),
    calc(-6px / 2 * var(--ggs,1))
    )
    rotate(-45deg)
    scale(var(--ggs,1));
    display: block
   }
   
   .gg-heart::after,
   .gg-heart::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 5px
   }
   
   .gg-heart::before {
    width: 11px;
    height: 11px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    left: -2px;
    top: 3px
   } 

   .gg-shopping-bag {
    transform: scale(var(--ggs,1))
   }
   
   .gg-shopping-bag,
   .gg-shopping-bag::after {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 3px
   }
   
   .gg-shopping-bag::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border-top: 0;
    top: 2px;
    left: 3px
   } 